(
  axes: {

  },
  actions: {
    "CameraMoveUp": [
        [Key(Up)]
    ],
    "CameraMoveDown": [
        [Key(Down)]
    ],
    "CameraMoveLeft": [
        [Key(Left)]
    ],
    "CameraMoveRight": [
        [Key(Right)]
    ],
    "CameraMoveForward": [
        [Key(W)]
    ],
    "CameraMoveBackward": [
        [Key(S)]
    ],
    "CameraLookLeft": [
        [Key(A)]
    ],
    "CameraLookRight": [
        [Key(D)]
    ],
  },
)